body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url('https://dx35vtwkllhj9.cloudfront.net/universalstudios/minions-the-rise-of-gru/images/bg.jpg');
  background-size: cover;
  padding-bottom: 50px;
  background-position: center center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

* {
  box-sizing: border-box;
}